$maxMobile: 575.98px;
$minTablet: 576px;
$minDesktop: 1280px;

$fontTitle: 'Jaldi', sans-serif;
$fontCopy: 'Roboto', sans-serif;

$mainTextColor: #231f20;
$altTextColor: #00618c;
$hoverTextColor:#29abe2;

$mainBkColor: #29abe2;
$altBkColor: #FFFFFF;
$gradMainBkColor:linear-gradient(65deg, #eceefa,#f3f8fe);
$gradAltBkColor:linear-gradient(#652d90, #1b1464,);
$gradBtColor:linear-gradient(to left, #1b1464, #652d90);

// $gradBkColor:linear-gradient(#29abe2, #0075be);